{% extends 'frontend/layout.html'  %}

{% block add_css %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/value_picker.css">
{% endblock add_css %}

{% block content %}
  <form>
    {% csrf_token %}
    <input id="load_xml" type="button" value="Load XML"/>
    <div id="xml_content">
      XML Content
    </div>
    <!--script type="text/javascript" src="{{ STATIC_PREFIX }}js/ValuePicker.js">
    </script-->
    <script>
        $.ajaxSetup({ 
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             } 
        });
        $(document).ready(function () {
            $("#load_xml").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '{% url frontend.views.value_picker.load_xml %}',
                    success: function (data) {
                        $("#xml_content").html(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        /*TODO put error handling here*/
                    },
                });
            });
        });
    </script>
  </form>
{% endblock content %}

