# Ubuntu users please make sure that the following packages are installed:
# libxml2-dev, libxslt-dev, python-dev, libevent-dev, libpg-dev
beanstalkc
PyYAML
gevent
pymongo
lxml
BeautifulSoup
bjsonrpc
Django
psycopg2
python-dateutil # ensure to use 1.5 version for 2.x python!
tornadio2 # use git clone https://github.com/MrJoes/tornadio2 && sudo python setup.py install

