<!DOCTYPE html>
<html>
  <head>
    <title>Logger Monitor</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="/static/js/vendor/socket.io.js"></script>
    <script src="/static/js/vendor/underscore-min.js"></script>
    <script src="/static/js/vendor/backbone.js"></script>
    <script src="/static/js/main.js"></script>
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    {% set levels = 'critical,debug,warning,info,other'.split(',') %}
    
    <div id="header">
      <h1>Logger <span>- pyxis log-event monitoring</span></h1>
    </div>
    
    <nav id='tabs'>
      <ul>
        <li><a href="#">Index</a> <span></span></li>
        {% for level in levels %}
        <li><a href="#{{ level }}">{{ level.capitalize() }}</a> <span></span></li>
        {% end %}
      </ul>
    </nav>

	<div id="prefs">
	<h1>Show logs:</h1>
	<ul>
	    {% for level in levels %}
		<li>
			<input type="checkbox" id="show_{{ level }}" value="{{ level }}" /> 
			<label for="show_{{ level }}">{{ level.capitalize() }}<span></span></label>
		</li>
		{% end %}
	</ul>
	</div>

	<div id="log-output">
    	<section id="index"></section>
    	{% for level in levels %}
    	<section id="logs-{{ level }}"></section>
    	{% end %}
	</div>
    
    <div id="status"></div>

    <div id="logger"></div>
    
    <script type='text/javascript'>
    $(function() {
       window.app = LoggerApplication(); 
       window.app.start();
    });
    </script>

    <div id="log_msg_template" class='log_event none'>
      <span class="log_time">11.11.2011 11:11:11</span>
      <span class="log_type">DEBUG</span>
      <span class="log_message">Just a message</span>
    </div>
  </body>
</html>