<!DOCTYPE html>
<html>
  <head>
    <title>Logger Monitor</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="status"></div>
    <h1>Logger</h1>
    <div id="logger"></div>
    <script type="text/javascript">
    $(function() {
      $('div#status').text('loaded');
      
      var sock = io.connect('/');
      sock.on('log', function(data) {
        $('div#logger').prepend('<div>' + data.msg + '</div>');
      });
      sock.emit('connected', {});
    });
    </script>
    <div id="log_msg_template" class='log_event'>
      <span class="log_time">11.11.2011 11:11:11</span>
      <span class="log_type">DEBUG</span>
      <span class="log_level">DEBUG</span>
      <span class="log_message">Just a message</span>
    </div>
  </body>
</html>