{% extends 'frontend/layout.html' %}

{% block content %}

User trackers are here:

<table width="100%" border="1">
<tr>
	<th>Tracker name</th>
	<th>Tracker source URL</th>
	<th>Interval</th>
	<th>Status</th>
	<th></th>
</tr>
{% for tracker in trackers %}
<tr>
	<td><a href="/trackers/view/{{ tracker.id }}">{{ tracker.name }}</a></td>
	<td>{{ tracker.url }}</td>
	<td>{{ tracker.interval }}</td>
	<td>{{ tracker.status }}</td>
	<td><a href="/trackers/edit/{{ tracker.id }}">Edit</a></td>
</tr>
{% endfor %}
</table>

<a href="/trackers/add">Add new tracker</a>

{% endblock content %}