{% extends 'frontend/trackers/index.html' %}

{% block content %}

<script>
{% autoescape off %}
var chart_series = {{ tracker.data }};
{% endautoescape %}
for(var i=0; i<chart_series.length; i++){
  var data = chart_series[i];
  for(var idx=0; idx<data.data.length; idx++){
    data.data[idx][0] = data.data[idx][0] * 1000;
  }
}
console.log(chart_series);
var chart;
$(document).ready(function() {

    $(function() {
        $('#id_{{ options.start.html_name}}, #id_{{ options.end.html_name}}').datepicker();
    });

   options = {
          chart: {
             renderTo: 'container',
             defaultSeriesType: '{{ options.types.value|default:"column" }}'
          },
          title: {
             text: 'Monthly Average Rainfall'
          },
          subtitle: {
             text: 'Source: WorldClimate.com'
          },
          xAxis: {
            type: 'datetime'
          },
          yAxis: {
             title: {
                text: 'Rainfall (mm)'
             }
          },
          legend: {
             layout: 'vertical',
             align: 'left',
             verticalAlign: 'top',
             x: 70,
             y: 0,
             floating: true,
             shadow: true
          },
          /*tooltip: {
             formatter: function() {
                return ''+
                   this.x +': '+ this.y +' mm';
             }
          },*/
          plotOptions: {
             column: {
                pointPadding: 0.2,
                borderWidth: 0
             }
          },
          series: chart_series
        }
    chart = new Highcharts.Chart(options);

    $('#id_{{ options.types.html_name }}').change(function() {
        render_chart(options, $('#id_{{ options.types.html_name }}').val());
    });
});

    function update_chart() {
        var values = {};
        $.each($('#form').serializeArray(), function(i, field) {
            values[field.name] = field.value;
        });

        $.ajax({
            url: "/trackers/call",
            type: "POST",
            dataType: "json",
            data: values,
            success: function(data, lviv){
                var tracker = {
                    'name': 'Lviv',
                    'data': data,
                }
                options.series.push(tracker);
                render_chart(options, values['types']);
            },
        });
    }

    function render_chart(config, type) {
        config = config || options
        type = type || 'line';
        config.chart.defaultSeriesType = type;
        chart = new Highcharts.Chart(config);
        console.log(chart);
    }
 </script>

<h3>{{ tracker.name }}</h3>
<div id="container" style="width: 100%; height: 400px"></div>

<div id='options'>
    <form id='form' action='trackers/' method='post'>
        <input type='hidden' name='id' value='{{ tracker.id }}'>
        {{ options.id }}
        <div class='row'>
            <div class='span8'>
                {{ options.periods.errors }}
                {{ options.periods.label_tag }}
                {{ options.periods }}
            </div>
            <div class='span8'>
                <div>
                    {{ options.start.errors }}
                    {{ options.start.label_tag }}
                    {{ options.start }}
                </div>
                <div>
                    {{ options.end.errors }}
                    {{ options.end.label_tag }}
                    {{ options.end }}
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='span8'>
                {{ options.method.errors }}
                {{ options.methods.label_tag }}
                {{ options.methods }}
            </div>
            <div class='span8'>
                {{ options.types.errors }}
                {{ options.types.label_tag }}
                {{ options.types }}
            </div>
        </div>
    </from>
</div>


<div style="margin-top: 100px; clear: both; cursor: pointer; display: block; border: 1px solid #111111; text-align: center;" onclick='update_chart()'>Add more tracker</div>
<br/>
<a href="/trackers/edit/{{ tracker.id }}">Edit</a> | <a href="/trackers/">Back to list</a>
{% endblock content %}
