{% extends 'common/layout.html' %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock extrahead %}

{% block content %}
<script>
function valuePickerOnChange(value)
{
  if(value.indexOf('.') >=0)
    $('#id_2-value_type').val(2);
  else
    $('#id_2-value_type').val(1);
}
$(document).ready(function () {
    $('#cancel').click(event, function(e) {
        window.location = '/trackers';
    });
});
</script>
<div class="clearfix"><h1>{{ form.step_name }}</h1></div>
<form action='' method='POST' id="wizard_form">
{% csrf_token %}
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
    {{ previous_fields|safe }}
    {% include "common/submit_form_snippet.html" %}
<div class="clearfix">
    <input type="reset" id="cancel" name='control' value="Cancel" style="float:left;" class="btn primary pull-right" />

    <input type="submit" id="done" name='control' value="Done" class="btn danger pull-right" />

    {% ifnotequal step 3 %}
        <input type="submit" name='control' value="Next" style="margin-right: 10px;" class="btn primary pull-right" />
    {% endifnotequal %}
    {% ifnotequal step 1 %}
        <input type="submit" name='control' value="Previous" style="margin-right: 10px;" class="btn primary pull-right" />
    {% endifnotequal %}

</div>
</form>

{% endblock %}

