<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% block title %}Pyxis - Welcome{% endblock title %}</title>
    {% load static %}{% get_static_prefix as STATIC_PREFIX %}
    {% if CDN %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    {% else %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/modules/exporting.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap-twipsy.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap-dropdown.js"></script>
    {% if CDN %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    {% else %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/jquery-ui.css">
    {% endif %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
    {% block extrahead %}
    {% endblock extrahead %}
    <meta charset="utf-8">
</head>
<body>
    <div class='bg'></div>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Pyxis</a>
          <ul class="nav">
            <li><a href="/trackers/">Trackers</a></li>
            <li><a href="/views">Views</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="dropdown" data-dropdown="dropdown">
          {% if user.is_authenticated %}
              <a href="#" class="dropdown-toggle">
              Hello,
              {% spaceless %}
                {% if user.get_full_name %}
                  <span>{{user.get_full_name}}</span>
                {% else %}
                  <span>{{ user }}</span>
                {% endif %}
              {% endspaceless %}
              </a>
            <ul class="dropdown-menu">
              <li>
              <a href="/users/profile/">
                Edit profile
              </a>
            </li>
            <li>
            <a href="/accounts/logout/">Log out</a>
            </li>
            </ul>
          </p>
          {% else %}
              <a href="#" class="dropdown-toggle">Sign in</a>
              <div id="signin-dropdown" class="dropdown-menu">
                <form action="/accounts/login/" class="dropdown-registration-form" method="POST">
                  {% csrf_token %}
                  <label>Username</label>
                  <input name="username" class="" type="text" placeholder="Username">
                  <label>Password</label>
                  <input name="password" class="" type="password" placeholder="Password">
                  <button id="dropdown-submit-btn" class="btn small" type="submit">Sign in</button>
                  </form>
                <a href="/accounts/register/">Register</a></p>
                <a href='/facebook/login'>Connect with Facebook</a>
              </div>
          {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="width: 940px;">

      <div class="content">
      <div class="alert-message" id="alert-message" style="display: none;"></div>
        {% block content %}
        {% endblock content %}
      </div>

      <footer>
        <p style="text-align: left;">&copy; Pyxis 2011</p>
      </footer>

    </div>

<script>
  $('#signin-dropdown').bind("click", function(e){e.stopPropagation();})
</script>
</body>
</html>
