{% if form.non_field_errors %}
<div class="alert-message error">
{{ form.non_field_errors|join:". "}}
</div>
{% endif %}
{% for field in form %}
  <div class="{{ field.errors|yesno:"error,"}} clearfix">
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
      <div class="clearfix">
        {{ field.help_text }}
      </div>
    {% endif %}
    {% if field.errors %}
        <span class="help-inline">
        {{ field.errors|join:". " }}
        </span>
    {% endif %}
  </div>
{% endfor %}

