{% extends "frontend/layout.html" %}

{% block content %}
<h1>User Login</h1> 
{% if user.is_authenticated %}
You already authorized
{% else %}

<form method="post" action="">
{% if form.non_field_errors %}
<div class="alert-message error">
{{ form.non_field_errors|join:". "}}
</div>
{% endif %}
{% csrf_token %}
{% for field in form %}
    <div class="{{ field.errors|yesno:"error,"}} clearfix">
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
      <div class="clearfix">
        {{ field.help_text }}
      </div>
    {% endif %}
    {% if field.errors %}
        <span class="help-inline">
        {{ field.errors|join:". " }}
        </span>
    {% endif %}
      </div>
{% endfor %}
<input type="submit" value="Login" class="btn primary">
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

<br/><br/>
<ul>
    <li><a href="{% url auth_password_reset %}">Password restore</a></li>
    <li><a href="{% url registration_register %}">Signup</a></li>
</ul>  
{% endif %}
{% endblock %}
