{% extends "frontend/layout.html" %}

{% block content %}
<h1>User Registration</h1>

<form method="post" action="">
{% csrf_token %}
<dl class="register">
{% for field in form %}
  <div class="clearfix">
    {{ field.label_tag }}
    <div class="input">
      {{ field }}
    {% if field.help_text %}
      <span class="help-block" >{{ field.help_text }}</span>
    {% endif %}
    {% if field.errors %}
      <div class="error">
        {{ field.errors|join:". " }}
      </div>
    {% endif %}
    </div>
  </div>
{% endfor %}
</dl>
<input type="submit" value="Signup" class="btn primary">
</form>
{% endblock %}
