* { margin: 0; padding: 0; outline: 0; -webkit-box-sizing: border-box }

ul {
    list-style-type: none;
}

body, div, td, div, p {
    font-family: tahoma;
    font-size: 10pt;
}

.none {
    display: none;
}

header h1 {
    font-weight: normal;
}

header#primary {
    height: 56px;
    padding: 8px 0 0 32px;
    background: #235;
}

header#primary h1 {
    color: #fff;
}

header#primary span {
    font-size:80%;
    opacity: .6;
}

div#log-output {
    width: 80%;
}

div#log-output > section {
  display: none;
  visible: hidden;
  width: 100%;
}
div#log-output > section.current {
  display: block;
}

nav#tabs ul {
  width: 100%;
  height: 32px;
  background: #fff;
  padding-left: 8px;
  background: #235;
  margin-bottom: 16px;
}

nav#tabs ul li {
  display: block;
  float: left;
  height: 32px;
  width: 160px;
  padding:8px 4px 0 16px;
  margin-right: 1px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;   
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;   
  border-top-right-radius: 8px;   
  background: #ddd;   
  -moz-box-shadow: inset 0px 2px 3px #fff;
  -webkit-box-shadow: inset 0px 2px 3px #fff;
  box-shadow: inset 0px 2px 3px #fff;
}

nav#tabs ul li.current {
  background: #fff;
  box-shadow: none
}

nav#tabs ul li a {
  padding: 8px;
  text-decoration: none;
  font-weight:bold;
  color: #556;
}

div#prefs {
    float:right; 
    width:19%; 
    padding: 8px 16px 24px 16px;
    background: #eff4fc;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-bottomleft: 16px;
    -webkit-border-top-left-radius: 16px;   
    -webkit-border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;   
    border-bottom-left-radius: 16px;
    -moz-box-shadow: inset 0px 2px 3px #bcd;
    -webkit-box-shadow: inset 0px 2px 3px #bcd;
    box-shadow: inset 1px 2px 4px #bcd;
    color: #456;
}

div#prefs h1 {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 8px;
    opacity: .7;
}

div.log_event {
  padding: 3px;
  font-family: tahoma;

  font-size: 9pt;
  background: #f4f9fe;
  border-bottom: 1px solid #e5eaf4;
}

section#logs-critical div.log_event, section#logs-warning div.log_event {
  color: #543;
  background: #fef9fa;
  border-bottom: 1px solid #f4e5eae5;    
}

div.log_event span.log_time {
  float: left;
  margin: 0 5px 0 15px;
  width: 130px;
}

div.log_event span.log_type {
  float: left;
  width: 140px;
  font-weight: bold;
  font-size: 80%;
  opacity: 0.3;
  padding-top: 2px;
}

div.log_event span.log_message {
  font-family: courier;
}

