{% extends 'common/layout.html' %}

{% block content %}

<h3>Views:</h3>

{% if views %}
<table width="100%" border="1">
<tr>
    <th>View name</th>
    <th>View description</th>
    <th>View trackers</th>
    <th></th>
</tr>
{% for view in views %}
<tr>
    <td><a href="{%url frontend.views.views.view view.id %}">{{ view.view_name }}</a></td>
    <td>{{ view.view_description }}</td>
    <td>{% for tracker in view.trackers.values %}
    <div><a href="{%url frontend.views.trackers.view tracker.id %}">{{ tracker.name }}</a></div>
     {% endfor %}
    </td>
    <td><a href="{%url frontend.views.views.delete view.id %}" class='btn small'>Delete</a></td>
</tr>
{% endfor %}
</table>
{% else %}
    <div class="alert-message">
        <p><strong>No Views</strong></p>
    </div>
{% endif %}

{% endblock content %}
