{% extends 'common/layout.html' %}

{% block content %}

<h3>Configured Trackers:</h3>
<br>

{% if trackers %}
<table width="100%" border="1">
<tr>
    <th>Tracker Name</th>
    <th>Tracker Source URL</th>
    <th>Interval</th>
    <th>Status</th>
    <th>Visualization</th>
    <th></th>
</tr>
    {% for tracker in trackers %}
<tr>
    <td><a href="/trackerwiz/edit/{{ tracker.id }}">{{tracker.name}}</a></td>
    <td>{{ tracker.URI }}</td>
    <td>{{ tracker.refresh_interval_pretty }}</td>
    <td>{{ tracker.status|yesno:"Active,Inactive" }}</td>
    <td><a href="/trackers/view/{{ tracker.id }}/">View Graph</a></td>
    <td>
        <a href="/trackers/delete/{{ tracker.id }}" class='btn small'>Delete</a>
    </td>
</tr>
    {% endfor %}
<tr>
   <td colspan="6"><big><i>No Trackers Configured</i></big></td>
</tr>
</table>

{% else %}
  <div class="alert-message">
    <p><strong>No Trackers Configured</strong></p>
  </div>
{% endif %}
<a href="/trackerwiz/add" class='btn primary'>Add new tracker</a>

{% endblock content %}
