{% extends 'frontend/trackers/index.html' %}

{% block content %}

<script>
    {% autoescape off %}
    var d = new Date();
    var offset = d.getTimezoneOffset() * 60 * 1000;
    var chart_series = {{ tracker.data }};
    for(var i=0; i<chart_series.length; i++){
       chart_series[i].pointStart -= offset;
    }
    {% endautoescape %}

    function check_period() {
        if( $('#id_'+'{{ options.periods.html_name }}').val() == 'minute' ) {
            $('#id_'+'{{ options.methods.html_name }}').attr('disabled', 'disabled');
        }else{
            $('#id_'+'{{ options.methods.html_name }}').removeAttr('disabled');
        }
    }

    $(document).ready(function() {
        // Build help dialogs.
        var dlg_ids = [
            '{{ options.periods.html_name }}',
            '{{ options.methods.html_name }}'
        ];
        for(var i=0; i<dlg_ids.length; i++) {
            var d_id = dlg_ids[i];
            $('#help-dlg-'+d_id).dialog({
                autoOpen: false,
                resizable: false
            });
            $('#help-for-'+d_id).click(function() {
                $('#help-dlg-'+d_id).dialog('open');
            });
        }

        $('#id_'+'{{ options.periods.html_name }}').change(check_period);
        check_period();

        $(function() {
            $('#id_{{ options.start.html_name}}, #id_{{ options.end.html_name}}').datepicker();
        });

        $('#id_{{ options.types.html_name }}').change(function() {
            render_chart(options, $('#id_{{ options.types.html_name }}').val());
        });

        build_chart(chart_series, '{{ options.types.value|default:"line" }}');

    });
</script>

<h3>{{ tracker.name }}</h3>
<div id="container" style="width: 100%; height: 400px"></div>

<div id='options'>
    <form id='form' action='trackers/' method='post'>
        <input type='hidden' name='id' value='{{ tracker.id }}'>
        {{ options.id }}
        <div class='row'>
            <div class='span8'>
                {{ options.periods.errors }}
                {{ options.periods.label_tag }}
                {{ options.periods }}
                <span class="btn info small"
                      id="help-for-{{ options.periods.html_name }}">?</span>
                <div id="help-dlg-{{ options.periods.html_name }}"
                     title="{{ options.periods.label }}" style="display:none;">
                    {% autoescape off %}
                    <p>{{ options.periods.help_text }}</p>
                    {% endautoescape %}
                </div>
            </div>
            <div class='span8'>
                <div>
                    {{ options.start.errors }}
                    {{ options.start.label_tag }}
                    {{ options.start }}
                </div>
                <div>
                    {{ options.end.errors }}
                    {{ options.end.label_tag }}
                    {{ options.end }}
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='span8'>
                {{ options.methods.errors }}
                {{ options.methods.label_tag }}
                {{ options.methods }}
                <span class="btn info small"
                      id="help-for-{{ options.methods.html_name }}">?</span>
                <div id="help-dlg-{{ options.methods.html_name }}"
                     title="{{ options.methods.label }}" style="display:none;">
                    {% autoescape off %}
                    <p>{{ options.methods.help_text }}</p>
                    {% endautoescape %}
                </div>
            </div>
            <div class='span8'>
                {{ options.types.errors }}
                {{ options.types.label_tag }}
                {{ options.types }}
            </div>
        </div>
    </from>
</div>


<div style="margin-top: 100px; clear: both; cursor: pointer; display: block; border: 1px solid #111111; text-align: center;" onclick='update_chart()'>Add more tracker</div>
<br/>
<a href="/trackers/edit/{{ tracker.id }}">Edit</a> | <a href="/trackers/">Back to list</a>
{% endblock content %}
